/**** Header ****/
/* line 12, ../sass/style.scss */
#masthead {
  background: #343039 url("../images/blog-back.png") no-repeat top center;
  color: white;
  padding: 2.2em 0;
}
/* line 16, ../sass/style.scss */
#masthead input {
  background: #4d4853;
  border: none;
  height: 42px;
  line-height: 42px;
  width: 100%;
  padding: 10px 20px;
  font-size: .888em;
  color: white;
  font-family: Helvetica, arial, sans-serif;
  font-weight: normal;
  position: relative;
}
/* line 29, ../sass/style.scss */
#masthead ::-webkit-input-placeholder {
  color: #6e6974;
}
/* line 33, ../sass/style.scss */
#masthead :-moz-placeholder {
  /* Firefox 18- */
  color: #6e6974;
}
/* line 37, ../sass/style.scss */
#masthead ::-moz-placeholder {
  /* Firefox 19+ */
  color: #6e6974;
}
/* line 41, ../sass/style.scss */
#masthead :-ms-input-placeholder {
  color: #6e6974;
}
/* line 45, ../sass/style.scss */
#masthead .site-title {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 50, ../sass/style.scss */
#masthead h2 {
  color: white;
  font-weight: 100;
  margin-bottom: 0;
}
/* line 56, ../sass/style.scss */
#masthead #site-navigation ul {
  list-style-type: none;
  float: right;
}
/* line 59, ../sass/style.scss */
#masthead #site-navigation ul li {
  float: left;
  display: block;
  position: relative;
}
/* line 63, ../sass/style.scss */
#masthead #site-navigation ul li > a {
  display: block;
  padding: 15px;
  line-height: 20px;
  color: #645f6a;
  text-decoration: none;
}
/* line 69, ../sass/style.scss */
#masthead #site-navigation ul li > a:hover {
  color: white;
}

/* line 78, ../sass/style.scss */
.main-content {
  padding: 4.95em 0 0;
  border-left: 10px solid #ee7310;
  border-right: 10px solid #ee7310;
}
/* line 82, ../sass/style.scss */
.main-content #more-content {
  color: #aaa;
  text-decoration: none;
  display: block;
  text-align: center;
  padding-bottom: 1.65em;
}

/* line 91, ../sass/style.scss */
.secondary-content {
  background: whitesmoke;
}

/* line 96, ../sass/style.scss */
.post .attachment-post-thumbnail {
  display: block;
  margin: 0 auto 3.3em;
}
/* line 100, ../sass/style.scss */
.post.small {
  padding: 4.8em 0 3.3em 0;
  border-bottom: 2px solid #e6e6e6;
}
/* line 103, ../sass/style.scss */
.post.small h2 {
  font-size: 1.556em;
}
/* line 105, ../sass/style.scss */
.post.small h2 a {
  color: #ee7310;
}
/* line 109, ../sass/style.scss */
.post.small .entry-summary {
  color: #666;
}
/* line 112, ../sass/style.scss */
.post.small .entry-meta {
  color: #aaa;
  font-size: 0.777em;
}
/* line 115, ../sass/style.scss */
.post.small .entry-meta a {
  color: #aaa;
  border-bottom: 1px solid #ddd;
}
/* line 121, ../sass/style.scss */
.post.feature {
  padding-bottom: 3.45em;
  position: relative;
}
/* line 124, ../sass/style.scss */
.post.feature .entry-summary {
  font-weight: normal;
  color: #1d1d1d;
}
/* line 128, ../sass/style.scss */
.post.feature h2.entry-title, .post.feature h1.entry-title {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}
/* line 133, ../sass/style.scss */
.post.feature .entry-meta {
  padding: 1.5em;
  text-align: center;
  position: relative;
  color: #2b292e;
  margin-bottom: 3.3em;
}
/* line 139, ../sass/style.scss */
.post.feature .entry-meta a {
  background: #fffbc9;
  color: #1d1d1d;
  text-decoration: none;
}
/* line 144, ../sass/style.scss */
.post.feature .entry-meta:before, .post.feature .entry-meta:after {
  content: "";
  height: 2px;
  position: absolute;
  width: 216px;
  background: #eee;
  left: 50%;
  margin-left: -108px;
}
/* line 153, ../sass/style.scss */
.post.feature .entry-meta:after {
  bottom: 0;
}
/* line 156, ../sass/style.scss */
.post.feature .entry-meta:before {
  top: 0;
}
/* line 161, ../sass/style.scss */
.post .entry-content {
  max-width: 700px;
  margin: 0 auto;
}
/* line 164, ../sass/style.scss */
.post .entry-content aside {
  width: 55px;
  position: absolute;
  left: 15px;
}
/* line 168, ../sass/style.scss */
.post .entry-content aside .social {
  margin-top: 1.65em;
}
/* line 171, ../sass/style.scss */
.post .entry-content aside span.nav-previous, .post .entry-content aside span.nav-next, .post .entry-content aside span.nav-list {
  background: #f8f8f8;
  width: 56px;
  height: 56px;
  margin-bottom: 5px;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 180, ../sass/style.scss */
.post .entry-content aside span.nav-list {
  position: relative;
}
/* line 182, ../sass/style.scss */
.post .entry-content aside span.nav-list a {
  width: 20px;
  height: 2px;
  background: #999;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: 27px;
  display: block;
}
/* line 191, ../sass/style.scss */
.post .entry-content aside span.nav-list a:before, .post .entry-content aside span.nav-list a:after {
  content: "";
  width: 20px;
  height: 2px;
  background: #999;
  left: 0;
  position: absolute;
}
/* line 199, ../sass/style.scss */
.post .entry-content aside span.nav-list a:before {
  top: -4px;
}
/* line 202, ../sass/style.scss */
.post .entry-content aside span.nav-list a:after {
  bottom: -4px;
}

/* line 211, ../sass/style.scss */
#comments {
  padding: 4.95em 0;
}
/* line 213, ../sass/style.scss */
#comments .container {
  max-width: 730px;
}

/* line 218, ../sass/style.scss */
#crowd-grid {
  background: url("../images/crowd-grid.jpg") repeat center;
  text-align: center;
  padding: 4.95em 0;
}
/* line 222, ../sass/style.scss */
#crowd-grid .container {
  border: none;
}
/* line 225, ../sass/style.scss */
#crowd-grid h3 {
  font-size: 1.25em;
}
/* line 228, ../sass/style.scss */
#crowd-grid a {
  color: #9c9aa9;
  text-decoration: none;
}
/* line 231, ../sass/style.scss */
#crowd-grid a:hover {
  color: white;
}
/* line 235, ../sass/style.scss */
#crowd-grid h2 {
  color: white;
  margin: 0;
}
/* line 238, ../sass/style.scss */
#crowd-grid h2 a {
  color: white;
}
/* line 240, ../sass/style.scss */
#crowd-grid h2 a strong {
  font-weight: 500;
}
/* line 243, ../sass/style.scss */
#crowd-grid h2 a:hover {
  border-bottom: 2px solid white;
}

/* Footer
------------------------------------------------------*/
/* line 254, ../sass/style.scss */
.site-footer {
  text-align: center;
  padding: 5em 0;
  clear: both;
  overflow: hidden;
  background: #2d353b;
}
/* line 260, ../sass/style.scss */
.site-footer a {
  color: #5f6e79;
}
/* line 262, ../sass/style.scss */
.site-footer a:hover {
  color: white;
}
/* line 266, ../sass/style.scss */
.site-footer .latest-blog {
  position: relative;
  padding: 1em 0;
  margin: 1.5em 0;
  font-weight: normal;
}
/* line 271, ../sass/style.scss */
.site-footer .latest-blog strong {
  font-weight: normal;
  color: #859098;
}
/* line 275, ../sass/style.scss */
.site-footer .latest-blog a:hover {
  color: #fff;
}
/* line 278, ../sass/style.scss */
.site-footer .latest-blog :before {
  content: " ";
  height: 1px;
  width: 200px;
  background: #38424a;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -100px;
}
/* line 288, ../sass/style.scss */
.site-footer .latest-blog :after {
  content: " ";
  height: 1px;
  width: 200px;
  background: #38424a;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -100px;
}
/* line 301, ../sass/style.scss */
.site-footer .footer-nav ul li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline;
  margin: 0 10px;
}
/* line 305, ../sass/style.scss */
.site-footer .footer-nav ul li a {
  font-size: .6875em;
}
